$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

@keyframes rotat{
    0%{
        opacity: 1;
        transform: rotate(0deg);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: rotate(360deg); 
    }
}

@keyframes opaci{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

body{
    margin: 0px;
}
.loader{
    justify-content: center;
    display: flex;
    width: 100%;
    .loader__anim{
        border: 16px solid $color-primary;
        border-top: 16px solid $color-secondary;
        border-bottom: 16px solid $color-tertiary;
        border-radius: 50%;
        box-shadow: 7px 6px 11px #dcdcdc;
        width: 120px;
        height: 120px;
        animation-name: rotat;
        animation-duration: 8s;
        animation-timing-function: linear;
        position: absolute;
        top: 50%;
        opacity: 0;
    }
}

.page{
   animation-name: opaci; 
   animation-duration: 10s;
}
h2{
    font-family: 'Roboto';
    font-weight: bold;
}
.header{
    text-align: center;
    font-family: 'Shrikhand';
    margin-bottom: 6px;
}
.location{
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    box-shadow: 0px 5px 6px #DCDCDC inset;
    font-family: 'Roboto';
 
        &__pic{
            max-width: 12px;
            padding-right: 10px;
            margin-right: 6px;
        }
        &__city{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: small;
        }
}
.present{
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: 'Roboto';
        &__para{
            margin-bottom: 30px;
        }
        &__btn{
            border-radius: 30px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            color: white;
            font-size: small;
            background: linear-gradient(to top, rgb(150, 91, 250), rgb(255, 121, 218));
            box-shadow: 9px 6px 12px #dcdcdc;
            text-decoration: none;
        }
        a:hover{
            background-color: #bb8ff0;
            box-shadow: 17px 7px 16px #dcdcdc;
        }
}   
.rule{
    font-family: 'Roboto';
    font-weight: bold;
    padding: 20px;
        &__ul{
            padding: 0px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a :hover{
            background-color: $color-secondary;
        }
        &__li{
            background-color: #F5F5F5;
            box-shadow: 8px 8px 10px 2px #dcdcdc;
            border-radius: 20px;
            margin-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            position: relative;
            font-size: small;
            display: flex;
            align-items: center;
        } 
        &__num{
            max-width: 6px;
            padding: 7px;
            position: absolute;
            top: 20px;
            left: -9px;
            border-radius: 50%;
            background-color: $color-primary;
        }
        &__pic{
            max-width: 18px;
            padding-right: 20px;
            padding-left: 30px;
        }
}
.food{
    background-color: #F5F5F5;
    padding: 20px;
    font-family: 'Roboto';
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: gray;
        }
        &__card{
            background-color: white;
            border-radius: 20px;
            box-shadow: 7px 6px 11px #dcdcdc;
            &__cont{
                position: relative;
                &__img{
                    width: 100%;
                    height: 160px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                &__badge {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 10px;
                    background-color: $color-tertiary;
                    box-shadow: 2px 5px 5px #dcdcdc;
                }
            }
            &__content{
                position: relative;
                &__title{
                    margin-top: 12px;
                    margin-bottom: 0px;
                    margin-left: 12px;
                }
                &__para{
                    margin-left: 12px;
                    margin-top: 6px;
                    padding-bottom: 12px;
                }
                .heart{
                    position: relative;
                    background-color: white;  
                    border-radius: 0px 0px 20px 20px;
                    cursor: pointer;
                    bottom: 20px;

                    &::before{
                        display: inline-block;
                        font-size: 1.5rem;
                        position: absolute;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 400;
                        content: "\f004";
                        right: 1rem;
                        bottom: 25px;
                        background-clip: text;
                        -webkit-background-clip: text;
                        opacity: 1;
                        transition: all 300ms ease-in-out;
                    }
                    &::after{
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        position: absolute;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 700;
                        content: "\f004";
                        font-size: 1.5rem;
                        right: 1rem;
                        bottom: 25px;
                        color: transparent;
                        background-clip: text;
                        -webkit-background-clip: text;
                        opacity: 0;
                        background-image: linear-gradient(to top, rgb(147, 86, 255), rgb(255, 121, 218));
                        transition: all 300ms ease-in-out;
                    }
                    &:hover::after{
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
                
            }
        }
                  
}
.footer{
    background-color: gray;
    padding-bottom: 2px;
    font-family: 'Roboto';
    color: white;
    
    &__title{
        font-family: 'Shrikhand';
        padding-left: 20px;
        padding-top: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &__ul{
        list-style-type: none;
        padding-left: 20px;
        margin-top: 12px;
    } 
    li.footer__li a{
        text-decoration: none;
        color: white;
    
    }  
    li.footer__li a:hover{
        background-color: gray;
    }
    .footer__li{
        padding-bottom: 6px;
    }
    .footer__pic{
        width: 12px;
        padding-right: 5px;
        
    }
}
@media screen and (min-width: 1024px){
    .presentation{
        text-align: center;
           
    }   
    .rule__ul{
        display: flex;
        justify-content: space-between; 
        a{
            width: 30%;
        }
    }
    
    .food__c{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        .food__card{
            min-width: 260px;
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
    .footer__ul{
        display: flex;
        justify-content: space-around;
    } 
    
}
