$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
body{
    margin: 0px;
}
.header{
    text-align: center;
    font-family: 'Shrikhand';
    margin-bottom: 6px;
}
.location{
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    box-shadow: inset 0px 5px #DCDCDC;
 
        .location__pic{
            max-width: 12px;
            padding-right: 10px;
        }
        .location__city{
            font-family: 'Roboto';
            font-weight: bold;
        }
}
.presentation{
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Roboto';
        .presentation__btn{
            border-radius: 30px;
            padding-bottom: 10px;
            padding-top: 10px;
            margin-left: 60px;
            margin-right: 60px;
            color: white;
            font-size: small;
            background-color: $color-secondary;
            box-shadow: 2px 5px 5px grey;
            text-decoration: none;
        }
}   
.rule{
    font-family: 'Roboto';
    padding-left: 10px;
    padding-bottom: 20px;
        .rule__ul{
            list-style-type: none;
            padding-left: 4px;
            padding-right: 8px;
        }
            .rule__li{
                background-color: #F5F5F5;
                box-shadow: 2px 5px 5px grey;
                border-radius: 10px;
                margin-bottom: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                font-weight: bold;
            }
            .rule__lipink{
                background-color: #fbe0f3;
                box-shadow: 2px 5px 5px grey;
                border-radius: 10px;
                margin-bottom: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                font-weight: bold;
            }
                .rule__num{
                    max-width: 6px;
                    padding: 8px;
                    margin-right: 20px;
                    margin-left: -9px;
                    border-radius: 50%;
                    background-color: $color-primary;
                }
                .rule__pic{
                    max-width: 18px;
                    padding-right: 20px;
                }
}
.food{
    background-color: #F5F5F5;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
        .food__bigtitle{
            padding-top: 40px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: none;
            color: gray;
        }
        .food__card{
            background-color: white;
            border-radius: 20px;
            margin-bottom: 10px;
            box-shadow: 2px 5px 5px grey;
        }
            .food__img__cont{
                position: relative;
            }
            .food__pic{
                width: 100%;
                height: 160px;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .food__badge {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .food__content{
                display: flex;
                justify-content: space-between;
                

                .food__title{
                    margin-top: 12px;
                    margin-bottom: 0px;
                    margin-left: 12px;

                }
                .food__heart{
                    max-width: 18px;
                    padding-right: 10px;
                    justify-content: end;
                }
            }
                
            .food__para{
                margin-left: 12px;
                margin-top: 6px;
                padding-bottom: 16px;
            }
            
}
.footer{
    background-color: gray;
    padding-bottom: 1px;
    
    .footer__title{
        font-family: 'Shrikhand';
        color: white;
        padding-left: 20px;
        padding-top: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
        .footer__ul{
            list-style-type: none;
            padding-left: 20px;
            margin-top: 12px;
        } 
            a{
                text-decoration: none;
            }  
            a:hover{
                background-color: none;
            }
            .footer__li{
                color: white;
                padding-bottom: 6px;
            }
                .footer__pic{
                    width: 12px;
                    padding-right: 5px;
                    
                }
}